@import "~@blueprintjs/core/lib/scss/variables";

/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
body {
  background: $pt-dark-app-background-color;
  color: white;
}

header {
  position: fixed;
  height: 30px;
  background: $pt-dark-app-background-color;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: darkgray 1px solid;

  button {
    margin-right: 15px;
  }

  .logoContainer {
    width: 30px;
    height: 30px;
    margin-left: 10x;
  }
}

.page-one-container {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
